@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

:root {
  --green-one: rgba(51, 255, 0, 0.6);
  --green-two: rgba(51, 255, 0, 0.8);
  --green-three: rgb(102, 255, 102);
  --bg-image: repeating-linear-gradient(-45deg, rgba(255, 255, 255, 0.03), rgba(255, 255, 255, 0.03) 1px, transparent 1px, transparent 6px);
}

body {
  font-family: 'VT323', monospace !important;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(25, 25, 25) !important;
  background-image: var(--bg-image);
  background-size: 3px 3px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.title {
  color: var(--green-one);
}

.max-550 {
  max-width: 550px !important;
}

.min-300 {
  min-width: 300px !important;
}

.result {
  display: flex;
  justify-content: center;
  color: var(--green-three);
  margin-top: 30px;
  width: 100%;
  font-size: 25px;
}

#modal .dark-bg-header {
  background-color: rgb(22, 22, 22);
  border-radius: 0px;
  color: var(--green-one);
  border: 1px solid transparent;
  background-image: var(--bg-image);
  background-size: 3px 3px;
}

#modal .dark-bg-body {
  font-size: 22px;
  color: rgba(255, 255, 255, 0.5);
  background-color: rgb(28, 28, 28);
  background-image: var(--bg-image);
  background-size: 3px 3px;
}

#form .form-control:focus {
  border: none;
  box-shadow: none;
  background-color: transparent;
}

#form .button {
  border-radius: 0px;
  margin: 30px 5px 0px 5px;
  border: 1px solid transparent;
  color: var(--green-one);
  font-size: 23px;
  text-transform: uppercase;
  background-color: rgba(0, 0, 0, 0.3);
}

#form .button:hover {
  border: 1px solid transparent;
  background-color: rgba(0, 0, 0, 0.45);
}

#form .button:focus {
  box-shadow: none;
}

#form .input-text {
  color: var(--green-two);
  background-color: transparent;
  border: 1px solid transparent;
  font-size: 33px;
  width: 35px;
}

#form .input-field {
  padding: 0;
  font-size: 25px;
  background-color: transparent;
  color: var(--green-two);
  border: none;
  background-color: transparent;
}

#form .input-group {
  background-color: transparent;
  font-size: 25px;
  color: var(--green-two);
}

/* -- alert styles -- */
.alert {
  margin: 0 auto;
  background-color: transparent !important;
  max-width: 500px !important;
  min-width: 300px !important;
}

.btn-close-white {
  color: rgba(0, 0, 0, 0.5) !important;
}

.btn-close:focus {
  box-shadow: none !important;
}

@import "../node_modules/bootstrap/scss/bootstrap";