@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

body {
  font-family: 'VT323', monospace!important;
  background-color: rgb(40,40,40)!important;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /*border:1px solid white;*/
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.form-container{
  /*border-radius: 5px!important;*/
  /*border:3px solid rgba(252, 252, 252, 0.7);*/
  /*background-color: rgba(255, 255, 255, 0.1)!important;*/
}

.max-500{
  max-width: 500px!important;
}

.min-300{
  min-width: 300px!important;
}

.form-control:focus {
  border: none!important;
  box-shadow: none!important;
  background-color: transparent!important;
}

.button{
  border:1px solid transparent!important;
  color:#33ff00!important;
  font-size:25px!important;
  text-transform: uppercase;
  background-color: rgba(0,0,0,0.2)!important;
}

.button:hover{
  border:1px solid rgba(36, 177, 1,0.8)!important;
  background-color: rgba(0,0,0,0.5)!important;
}

.input-field{
  font-size:25px!important;
  background-color:transparent!important;
  color:#33ff00!important;
  border:none!important;
  background-color: rgba(0,0,0,0.1)!important;
}


.alert{
  background-color: transparent!important;
  max-width: 600px;
  min-width: 300px;
}

.btn-close-white{
  color:rgba(0, 0, 0, 0.5)!important;
}

.result{
  color:#66ff66;
  margin-top:30px;
  width: 100%;
  font-size:25px;
  display: flex;
  justify-content: center;
}

@import "../node_modules/bootstrap/scss/bootstrap";